.movies .movie {
  width: 520px;
  height: 200px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  font-weight: 300;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  background-image: linear-gradient(#243b55, #141e30);
  cursor: pointer;
}
.movie a {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}
.movie img {
  position: relative;
  top: -35px;
  left: -5px;
  max-width: 130px;
  width: 100%;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movie .movie__title {
  margin-bottom: 10px;
  font-size: 22px;
  color: orange;
  font-weight: 400;
}
.movie .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 5px 0px;
}
.movie__genres li,
.movie .movie__year {
  font-style: italic;
  margin-right: 10px;
  font-size: 15px;
  margin-bottom: 5px;
  color: skyblue;
}
.movie .movie__summary {
  font-size: 14px;
  columns: #f2f2f2;
}
